<ion-content>
  <ion-header class="ion-no-border">
      <ion-toolbar color="dark">
          <ion-buttons slot="end">
              <ion-menu-button color="primary" menu="first"></ion-menu-button>
          </ion-buttons>
          <ion-buttons slot="start">
              <ion-back-button color="primary" defaultHref="/"></ion-back-button>
          </ion-buttons>
          <ion-title>Informacion de la tarea // Id: {{taskId}}</ion-title>
      </ion-toolbar>
  </ion-header>
  <div *ngIf="loaded">
      <ion-list>
          <ion-item *ngIf="creator">
              <ion-button (click)="eliminateTask(task.id)" color="danger" expand="block" shape="round">
                  <b>Eliminar Tarea</b>
              </ion-button>
          </ion-item>
          <ion-item>
              <h3>Tarea creada por:</h3>
              <h2 slot="end"><b>{{task.creatorName}}</b></h2>
          </ion-item>
          <div *ngIf="task.proyect">
              <ion-row *ngIf="task.proyect != 'none'">
                  <ion-col size="6">
                      <ion-item>
                          <h3>Proyecto:</h3>
                          <h2 slot="end">{{task.proyect.pName}}</h2>
                      </ion-item>
                  </ion-col>
                  <ion-col size="6">
                      <ion-item>
                          <h3>Supervisor:</h3>
                          <h2 slot="end">{{task.proyect.supName}}</h2>
                      </ion-item>
                  </ion-col>
              </ion-row>
          </div>
          <ion-item>
              <h3>Estatus:</h3>
              <h2 slot="end"><b>{{task.status | titlecase}}</b></h2>
          </ion-item>
          <ion-item>
              <h3>Prioridad:</h3>
              <h2 slot="end"><b>{{task.priority | titlecase}}</b></h2>
          </ion-item>
          <ion-item lines="none">
              <h3>Descripcion de la tarea:</h3>
          </ion-item>
          <ion-item>
              <ion-textarea [(ngModel)]="task.desc" rows="6" placeholder="modificar el header..."></ion-textarea>
          </ion-item>
          <ion-row *ngIf="task.img != 'No-Image'">
              <ion-col size="4" *ngFor="let item of task.img">
                  <div *ngIf="item && item !=''" class="bgImg" [style.backgroundImage]="'url('+item+')'" (click)="openImage($event, item, false)">
                  </div>
              </ion-col>
          </ion-row>
          <ion-item lines="none">
              <h3>Notas adicionales:</h3>
          </ion-item>
          <ion-item *ngIf="!task.notes">
              <ion-textarea rows="6" placeholder="Aun no hay notas en la tarea" disabled="true"></ion-textarea>
          </ion-item>
          <div *ngIf="task.notes"></div>
          <ion-item *ngFor="let note of task.notes" lines="none">
              <ion-label>
                  <h4 style="background-color: var(--ion-color-primary); display: inline; color: white; margin: 10px; padding: 0px 10px; border-radius: 10px;">{{note.cNote}}</h4>
                  <h2>{{note.note}}
                  </h2>
                  <ion-note slot="end">{{note.dNote}}</ion-note>
              </ion-label>

          </ion-item>
          <ion-button *ngIf="task.status === 'creada'" (click)="aceptTask()" expand="block" shape="round">
              Aceptar Tarea
          </ion-button>
          <ion-item *ngIf="task.status != 'creada'">
              <ion-button (click)="getNotes(true)" expand="block" shape="round">
                  Agregar Notas
              </ion-button>
          </ion-item>
          <ion-button *ngIf="task.status != 'creada' && task.status === 'procesando'" (click)="changeTaskStatus('rev')" color="warning" expand="block" shape="round">
              <b>Finalizar con revision</b>
          </ion-button>

          <ion-button *ngIf="task.status != 'creada' && task.status === 'procesando' || task.status === 'revision'" (click)="changeTaskStatus('done')" color="success" expand="block" shape="round">
              <b>Finalizar sin revision</b>
          </ion-button>
      </ion-list>
  </div>
</ion-content>
