<ion-app>
  <ion-split-pane when="xl" contentId="main-content" *ngIf="loged">
      <ion-menu contentId="main-content" type="overlay" menuId="first" style="border-right: 0px;">
          <ion-content class="container" >
              <img src="./../assets/qa_logo.svg" width="50">
              <ion-list id="inbox-list">
                  <ion-list-header >Hola {{name}}</ion-list-header>
                  <ion-note >{{email}}</ion-note>
                  <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
                      <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                          <ion-icon slot="start" [ios]="p.icon" [md]="p.icon"></ion-icon>
                          <ion-label>{{ p.title }}</ion-label>
                      </ion-item>
                  </ion-menu-toggle>
              </ion-list>
              <ion-list id="labels-list">
                  <ion-list-header >Manage</ion-list-header>
                  <ion-menu-toggle auto-hide="false" *ngFor="let label of labels; let i = index">

                      <ion-item  routerDirection="root" lines="none" [routerLink]="[label.url]">
                          <ion-icon slot="start" [ios]="label.icon" [md]="label.icon"></ion-icon>
                          <ion-label>{{ label.title }}</ion-label>
                      </ion-item>
                  </ion-menu-toggle>
                  <ion-menu-toggle ngIf="role === 'sup'" auto-hide="false" *ngFor="let label of labels; let i = index">

                      <ion-item routerDirection="root" lines="none" [routerLink]="[label.url]">
                          <ion-icon slot="start" [name]="label.icon"></ion-icon>
                          <ion-label>{{ label.title }}</ion-label>
                      </ion-item>
                  </ion-menu-toggle>

              </ion-list>
          </ion-content>
      </ion-menu>
      <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
  <ion-router-outlet *ngIf="!loged" id="mainback"></ion-router-outlet>
</ion-app>